h1 {
  color: darkslategray;
}

body.gallery .asset.text .text-wrap,
.menu li.category > a,
.menu li > a {
  color: darkslategray;
}

.menu li > a {
  line-height: 1.8;
  font-size: 16px;
  font-weight: normal;
}

.slide-image-with-caption {
  display: inline-grid;
  justify-items: center;
  font-style: italic;
  font-weight: 100;
  font-size: small;

  > p {
    margin-top: 20px;
    width: 65%;
    text-align: center;
  }
}

.bio-table {
  display: flex;
  padding: 1em 1em 0 2em !important;
  justify-content: space-between;

  .bio-left {
    padding-inline-start: 0px;
    list-style: none;
  }

  .bio-right {
    /* padding-inline-start: 0px; */
    /* list-style: none; */
  }

  .title {
    font-weight: bold;
    margin-block-end: 0px;
    padding-block-end: 0px;
  }

  .subtitle {
    margin-block-end: 0px;
    padding-block-end: 0px;
    margin-block-start: 0px;
    padding-block-start: 0px;
    color: darkgray;
  }

  .slide-image-with-caption {
    position: absolute;
    bottom: 200px;
    left: 200px;
    top: 400px;
  }
}
