body.gallery .asset.text .text-wrap,
.menu li.category > a,
.menu li > a {
  color: darkslategray;
}

.menu li > a {
  line-height: 1.8;
  font-size: 16px;
  font-weight: normal;
}

.slide-image-with-caption {
  display: inline-grid;
  justify-items: center;
  font-style: italic;
  font-weight: 100;
  font-size: small;

  > p {
    margin-top: 20px;
  }
}
